*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, red, lime);
}

.calculator-outlook{
    display: grid;
    justify-content: center;
    align-content: center;
    /* min-height: 10vh; */
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator-outlook > button {
    cursor: pointer;
    font-size: 30px;
    border: 1px solid;
    background-color: whitesmoke;
}

.calculator-outlook>button:hover{
    background-color:greenyellow;
    
}

.equal-sign{
    grid-column: span 2;
}

.outputview{
    grid-column: 1/-1;
    background-color:white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding:5px;
    word-wrap: break-word;
    word-break: break-all;
}

.outputview .previous-input{
    font-size: 40px;
}

.outputview .current-input{
    font-size: 60px;
}